{% extends "account/base.html" %}
{% load i18n account socialaccount staticfiles cms_tags menu_tags sekizai_tags %}

{% block head_title %}新用户注册{% endblock %}
{% block content %}
    {% load staticfiles %}
    <div class="container ">

        <div class="col-md-6 col-md-offset-9">

            <form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}

                {{ form.non_field_errors }}
                <h3 class="text-center">新用户注册</h3>
                <br/>
                <div id="phone-input" class="form-group has-feedback has-feedback-left">
                    <input class="form-control" autofocus="autofocus" id="id-phone" maxlength="30"
                           name="username"
                           placeholder="手机号" type="text"/>
                    <i class="fa fa-phone form-control-feedback"></i>
                    {{ form.username.errors }}
                </div>

                <div id="email-input" class="form-group has-feedback has-feedback-left">
                    <input class="form-control" autofocus="autofocus" id="id-email" maxlength="100"
                           name="email"
                           placeholder="邮箱" type="text"/>
                    <i class="fa fa-envelope-o form-control-feedback"></i>
                    {{ form.email1.errors }}
                </div>

                <div id="password1-input" class="form-group has-feedback has-feedback-left">
                    <input class="form-control" id="id-password1" name="password1" placeholder="密码"
                           type="password"/>
                    <i class="fa fa-lock form-control-feedback"></i>
                    {{ form.password1.errors }}

                </div>

                <div id="password2-input" class="form-group has-feedback has-feedback-left">
                    <input class="form-control" id="id-password2" name="password2" placeholder="确认密码"
                           type="password"/>
                    <i class="fa fa-lock form-control-feedback"></i>
                    {{ form.password2.errors }}

                </div>

                <div id="code-input" class="form-group has-feedback has-feedback-left">
                    <div class="input-group">
                        <input class="form-control" id="id-verifycode" placeholder="验证码" type="text"/>
                        <i class="fa fa-eye form-control-feedback"></i>
                        <span class="input-group-btn">
                            <button id="send-code" class="btn btn-default" type="button">发送验证码</button>
                        </span>
                    </div>
                </div>


                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}

                <div class="form-group">
                    <button id="submit-btn" class="primaryAction btn btn-default btn-primary tc-width-full"
                            type="submit">注册账号
                    </button>
                </div>

                <div class="form-group">
                    <div id="signup-by-email" class="col-xs-12 text-left">
                        <a href="#">使用邮箱注册</a>
                    </div>
                    <div id="signup-by-phone" class="col-xs-12 text-left">
                        <a href="#">使用手机号注册</a>
                    </div>
                    <div class="col-xs-12 text-right">
                        <a href="{{ login_url }}">已有账号登陆</a>
                    </div>
                </div>
            </form>
        </div>
    </div>

    {% addtoblock "js" %}
        <script src="{% static 'js/signup.js' %}"></script>
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/signup.css' %}"/>
    {% endaddtoblock %}

{% endblock %}