.folder-options {
    line-height: 45px;
    height: 45px;
    white-space: nowrap;
    overflow: hidden;
}

.folder-option-upload span {
    line-height: 45px;
}

.image-selector-left {
    width: 150px;
    position: fixed;
    display: inline-block;
}

.image-folder {
    cursor: pointer;
}

.image-folder.editing .badge {
    display: none;
}

.editable-buttons {
    float: left;
    margin-left: 0px;
    margin-top: 5px;
}

.image-folder .editableform .form-control {
    width: 100%;
}

.editable-error-block {
    float: left;
    font-size: 12px;
}

.modal-title {
    line-height: 1.2;
}

.image-list {
    padding: 10px;
    height: auto;
    position: relative;
}

.image-item {
    padding: 5px;
}

.image-checkbox {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    padding: 0px 5px;
}

.image-checkbox input {
    top: 5px;
}

.image-checkbox .checkbox {
    margin: 0px;
}

.image-actions {
    height: 30px;
    background-color: #EEEEEE;
    font-size: 16px;
    line-height: 30px;
}

.image-actions span {
    color: #ccc;
    cursor: pointer;
}

.image-actions span:hover {
    color: #3aa9a5;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 120px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175)
}

.dropdown-menu > li > a {
    color: #222;
}

.image-selected {
    height: 120px;
}

.image-selected-title {
    position: absolute;
    width: 40px;
    height: 120px;
    left: 0px;
    top: 0px;
}

.image-selected-title span {
    width: 1px;
    word-wrap: break-word;
}

.image-selected-strip-container {
    margin-left: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.image-selected-strip {
    width: 2000px;
}

.image-selector-right {
    margin-left: 150px;
}

.image-list-container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 350px;
}

.image-list-pagination {
    height: 45px;
}

#selected-images-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    white-space: nowrap;
}

#selected-images-container > li {
    margin: 5px;
    float: left;
    width: 120px;
    text-align: center;
    height: 105px;
}

.ui-state-highlight {
}

.image-select-left-body {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 350px;
}

.image-select-left-top {
    height: 45px;
}

.dropdown-menu {
    z-index: 100;
}

.list-group-item {
    padding-top: 7px;
    padding-bottom: 7px;
}

.list-group hr {
    margin-top: 3px;
    margin-bottom: 3px;
}

.image-select-left-top {

}

.image-select-left-top button {
    width: 120px;
    margin-top: 6px;
}

.folder-options .checkbox {
    margin: 0px 10px 0px 20px;
}

.folder-options .checkbox input {
    top: 13px;
}

.selected-image-actions {
    padding-top: 3px;
}

#image-pagination-container {
	float: right;
	font-size: 12px;
}

#image-pagination-container ul {
	margin-top: 10px;
    margin-right: 5px;
}

#images-container-reserve {
    line-height: 250px;
    text-align: center;
}

.popover-title {
    font-size: 14px;
}

.image-folder .popover {
    left: 10px;
}

.image-folder.list-group-item {
    position: inherit;
}

.editable-click, a.editable-click {
    border-bottom: none;
}

