.spec-name input {
    width: 70px;
}

.spec-price-input {
    height: 25px;
    width: 100px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 0;
}

.note {
    position: relative;
    overflow: hidden; /* hides part of the box-shadow */
}

.note:before {
    content: "";
    position: absolute;
    top: 1px;
    right: 1px;
    border-width: 0 64px 64px 0;
    border-style: solid;
    border-color: #3aa9a5 #fff;
    /* css3 extras */
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 1px rgba(0, 0, 0, 0.2);
}

#product-body {
    overflow: scroll;
    min-height: 350px;
    height: auto;
    max-height: none;
}

#product-body img {
    max-width: 100%;
}

#product-name h3 {
    margin-top: 0px;
}

#product-subtitle h5 {
    color: #aaa;
}

#product-price .product-price-price {
    font-size: 24px;
    color: #3aa9a5;
}

#product-price .product-price-tiger {
    font-size: 16px;
}

#product-main-img {
    border: 1px solid #bbbbbb;
    padding: 1px;
    position: relative;
    padding-bottom: 75%;
}

#product-main-img:after {
    content: "";
    position: absolute;
    top: 0%;
    right: 0%;
    width: 0px;
    height: 0px;
    border-bottom: 70px solid #eee;
    border-right: 70px solid #272822; /*Set to background color, not transparent!*/
    -webkit-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    z-index: 50;
    cursor: pointer;
}

#product-main-img[is-video="True"], #product-main-img[is-video="true"] {
    cursor: pointer;
}

#product-main-img[is-video="True"]:before, #product-main-img[is-video="true"]:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 100px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

#product-main-img > img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}

#product-main-img.wide > img {
    width: 100%;
    height: auto;
}

#product-main-img.tall > img {
    height: 100%;
    width: auto;
}

#img-edit {
    position: absolute;
    font-size: 25px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: right;
    padding-right: 5px;
    top: 0px;
    right: 0px;
    z-index: 60;
    color: #FFF;
    cursor: pointer;
}

.spec-option {
    display: inline-block;
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 5px;
    border: 1px solid #888888;
    padding: 0px 10px 0px 10px;
    margin-right: 3px;
}

.spec-option.selected {
    color: #3aa9a5;
    border: 1px solid #3aa9a5;
}

#product-buy {
    margin-top: 20px;
    margin-bottom: 20px;
}

#product-slideshow-container {
    height: 74px;
}

#product-slideshow-left-arrow.enabled:before {
    content: "";
    font-family: FontAwesome;
    speak: none;
    color: #a1aaad;
    font-size: 21px;
    line-height: 21px;
    -webkit-font-smoothing: antialiased;
}

#product-slideshow-left-arrow {
    width: 21px;
    height: 21px;
    z-index: 150;
    -moz-transform: translateY(-10.5px);
    -ms-transform: translateY(-10.5px);
    -webkit-transform: translateY(-10.5px);
    transform: translateY(-10.5px);
    top: 50%;
}

#product-slideshow-right-arrow.enabled:before {
    content: "";
    font-family: FontAwesome;
    speak: none;
    color: #a1aaad;
    font-size: 21px;
    line-height: 21px;
    -webkit-font-smoothing: antialiased;
}

#product-slideshow-right-arrow {
    width: 21px;
    height: 21px;
    z-index: 150;
    -moz-transform: translateY(-10.5px);
    -ms-transform: translateY(-10.5px);
    -webkit-transform: translateY(-10.5px);
    transform: translateY(-10.5px);
    top: 50%;
}

#product-slideshow-wrapper {
    width: calc(100% - 60px);
}

.slideshow-thumb {
    width: 95px;
    height: 71px;
    margin-right: 7px;
    cursor: pointer;
    position: relative;
}

.slideshow-thumb.selected {
    border-color: #339692;
}

.slideshow-thumb[is-video="True"]:before, .slideshow-thumb[is-video="true"]:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    content: "\f01d";
    font-family: FontAwesome;
    font-size: 40px;
    color: #fff;
    opacity: .8;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.slideshow-thumb > img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.slideshow-thumb:hover img {
    opacity: 0.5;
}

#product-slideshow-strip {
    white-space: nowrap;
}

.sortedm2m-container .sortedm2m label {
    display: inline-block;
    position: relative;
    line-height: 25px;
    font-size: 16px;
    font-weight: normal;
}

.sortedm2m-container .selector-filter input {
    width: calc(100% - 50px) !important;
    margin: 5px 50px 5px 0 !important;
    color: #333;
    line-height: 24px;
    height: 36px;
    min-height: 24px;
    padding: 6px !important;
    border: 1px solid #ddd !important;
    border-radius: 3px;
    outline: 0;
}

.sortedm2m-container .selector-filter {
    position: relative;
}

.sortedm2m-container .selector-filter img {
    position: absolute;
    right: 0;
    margin: 5px 0;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.toolbar-placeholder {
    height: 60px;

}

.btn-toolbar {
    background-color: #fff;
}
