{% extends "base_image.html" %}

{% load i18n staticfiles cms_tags menu_tags sekizai_tags widget_tweaks %}

{% block content %}
    <div class="container">
        <form id="product-form" action="" method="post">{% csrf_token %}
            <div class="item-top-placeholder tc-positon-relative tc-width-full">
                <div id="scroller-anchor"></div>
                <div class="item-top-fixed col-xs-24 tc-border-bottom-grey-1">
                    <div class="col-xs-24 col-sm-12 item-sections">
                        <ul class="tc-float-left">
                            <li class="active">
                                <a href="#product-detail-overview">
                                <span>
                                    概览
                                </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#product-detail-body">
                                <span>
                                    介绍
                                </span>
                                </a>
                            </li>
                            <li class="">
                                <a href="#product-detail-recommand">
                                <span>
                                    推荐
                                </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="item-reviews col-xs-24 col-sm-12 tc-margin-top-2">
                        <ul class="tc-float-right">
                            <li class="">
                                <input class="btn btn-primary btn-sm" type="submit" value="保存"/>
                            </li>
                            <li class="">
                                <a class="btn btn-default btn-sm" href="#">
                                <span>
                                    结束编辑
                                </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="product-detail-overview" class="col-xs-24 col-sm-15 product-img-box">
                <div class="col-xs-24 col-sm-15 product-img-box">
                    <div id="product-main-img" class="tc-margin-bottom-4">
                        <img src="{{ product.thumbnail_url }}" alt class="img-responsive">
                    </div>
                    <div id="product-slideshow-box"
                         class="tc-positon-relative tc-width-full tc-margin-top-4 tc-margin-bottom-4">
                        <div id="product-slideshow-left-arrow"
                             class="tc-display-block tc-position-left tc-position-absolute enabled"></div>
                        <div id="product-slideshow-right-arrow"
                             class="tc-display-block tc-position-right tc-position-absolute enabled"></div>
                        <div id="product-slideshow-wrapper" class="tc-block-center tc-overflow-hidden">
                            <div id="product-slideshow-container"
                                 class="tc-position-relative tc-overflow-hidden tc-block-center">
                                <div id="product-slideshow-strip"
                                     class="tc-height-full tc-position-top tc-position-absolute">
                                    {% for image in product.images.all %}
                                        <a class="slideshow-thumb tc-display-inlineblock tc-positon-relative tc-border-grey-1"
                                           image-url="{{ image.thumbnail_url }}">
                                            <img src="{{ image.thumbnail_url }}" alt class="img-responsive"/>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 col-sm-9">
                {% for error in form.non_field_errors %}
                    <div class="form-group has-errors text-danger">
                        {{ error }}
                    </div>
                {% endfor %}

                {#                {% for field in form %}#}
                {#                    {{ field }}#}
                {#                    {{ field.errors.as_text }}#}
                {#                {% endfor %}#}

                {#    fields = ['name', 'subtitle', 'product_category', 'purchase_url', 'spec1_name',#}
                {#              'spec1_options', 'use_spec2', 'spec2_name', 'spec2_options', 'spec_price', 'body', 'images', 'related']#}

                <div class="from-group tc-margin-bottom-3">
                    <label class="field-title">标题：</label>
                    {{ form.name|add_class:"form-control input-sm" }}
                    <div class="form-group has-errors text-danger">
                        {{ form.name.errors.as_text }}
                    </div>
                </div>
                <div class="from-group tc-margin-bottom-3">
                    <label class="field-title">副标题：</label>
                    {{ form.subtitle|add_class:"form-control input-sm" }}
                    <div class="form-group has-errors text-danger">
                        {{ form.subtitle.errors.as_text }}
                    </div>
                </div>
                <div class="from-group tc-margin-bottom-3">
                    <label class="field-title">分类：</label>
                    {{ form.product_category|add_class:"form-control" }}
                    <div class="form-group has-errors text-danger">
                        {{ form.product_category.errors.as_text }}
                    </div>
                </div>
                <div class="from-group tc-margin-bottom-3">
                    <label class="field-title">购买链接：</label>
                    {{ form.purchase_url|add_class:"form-control input-sm" }}
                    <div class="form-group has-errors text-danger">
                        {{ form.purchase_url.errors.as_text }}
                    </div>
                </div>
                <div class="from-group tc-margin-bottom-3">
                    <label class="field-title">规格与价格：</label>
                    <div class="row">
                        <div class="col-xs-1">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="" checked disabled>
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-5 spec-name">
                            {{ form.spec1_name|add_class:"input-sm" }}
                        </div>
                        <div class="col-xs-17">
                            <input id="product-spec1-options" value="{{ product.spec1_options }}"/>
                            <input id="id_spec1_options" maxlength="255" name="spec1_options" type="hidden"
                                   value="{{ product.spec1_options }}">
                        </div>
                    </div>
                    <div class="form-group has-errors text-danger">
                        {{ form.spec1_name.errors.as_text }}
                        {{ form.spec1_options.errors.as_text }}
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <div class="checkbox">
                                <label>
                                    {{ form.use_spec2 }}
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-5 spec-name">
                            {{ form.spec2_name|add_class:"input-sm" }}
                        </div>
                        <div class="col-xs-17">
                            <input id="product-spec2-options" value="{{ product.spec2_options }}"/>
                            <input id="id_spec2_options" maxlength="255" name="spec2_options" type="hidden"
                                   value="{{ product.spec2_options }}">
                        </div>
                    </div>
                    <div class="form-group has-errors text-danger">
                        {{ form.spec1_name.errors.as_text }}
                        {{ form.spec1_options.errors.as_text }}
                    </div>
                </div>
                <div class="from-group tc-margin-bottom-3">
                    <input id="id_spec_price" name="spec_price" type="hidden" value="{{ product.spec_price }}">
                    <table class="table table-condensed" id="product-price-table">
                        <thead>
                        <tr>
                            <th id="spec1-name">{{ product.spec1_name }}</th>
                            {% if product.use_spec2 %}
                                <th id="spec2-name">{{ product.spec2_name }}</th>
                            {% endif %}
                            <th>价格</th>
                        </tr>
                        </thead>
                        <tbody>
                        {#                        {% for price in product.parse_spec_price %}#}
                        {#                            <tr>#}
                        {#                                <td>{{ price.spec1 }}</td>#}
                        {#                                {% if product.use_spec2 %}#}
                        {#                                    <td>{{ price.spec2 }}</td>#}
                        {#                                {% endif %}#}
                        {#                                <td>#}
                        {#                                    <input class="spec-price-input" type="text" name="" value="{{ price.price }}">#}
                        {#                                </td>#}
                        {#                            </tr>#}
                        {#                        {% endfor %}#}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="product-detail-body" class="col-xs-24">
                <h3>商品介绍</h3>
                <hr/>
                <div class="btn-toolbar" data-role="editor-toolbar" data-target="#product-body">
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" title="文字大小"><i class="fa fa-text-height"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-edit="fontSize 5" class="fs-Five">大</a></li>
                            <li><a data-edit="fontSize 3" class="fs-Three btn-info">中</a></li>
                            <li><a data-edit="fontSize 1" class="fs-One">小</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown"
                           title="文字高亮"><i class="fa fa-paint-brush"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <p>&nbsp;&nbsp;&nbsp;文字高亮:</p>
                            <li><a data-edit="backColor #00FFFF">蓝</a></li>
                            <li><a data-edit="backColor #00FF00">绿</a></li>
                            <li><a data-edit="backColor #FF7F00">橙</a></li>
                            <li><a data-edit="backColor #FF0000">红</a></li>
                            <li><a data-edit="backColor #FFFF00">黄</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" title="文字颜色"><i class="fa fa-font"></i>&nbsp;<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <p>&nbsp;&nbsp;&nbsp;文字颜色:</p>
                            <li><a data-edit="foreColor #000000">黑</a></li>
                            <li><a data-edit="foreColor #0000FF">蓝</a></li>
                            <li><a data-edit="foreColor #30AD23">绿</a></li>
                            <li><a data-edit="foreColor #FF7F00">橙</a></li>
                            <li><a data-edit="foreColor #FF0000">红</a></li>
                            <li><a data-edit="foreColor #FFFF00">黄</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default" data-edit="bold" title="粗体 (Ctrl/Cmd+B)"><i class="fa fa-bold"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="italic" title="斜体 (Ctrl/Cmd+I)"><i class="fa fa-italic"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="strikethrough" title="删除线"><i class="fa fa-strikethrough"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="underline" title="下划线 (Ctrl/Cmd+U)"><i class="fa fa-underline"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default" data-edit="insertunorderedlist" title="列表"><i class="fa fa-list-ul"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="insertorderedlist" title="数字列表"><i class="fa fa-list-ol"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="outdent" title="减少缩进 (Shift+Tab)"><i class="fa fa-outdent"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="indent" title="增加缩进 (Tab)"><i class="fa fa-indent"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default" data-edit="justifyleft" title="左对齐 (Ctrl/Cmd+L)"><i class="fa fa-align-left"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="justifycenter" title="中对齐 (Ctrl/Cmd+E)"><i class="fa fa-align-center"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="justifyright" title="右对齐 (Ctrl/Cmd+R)"><i class="fa fa-align-right"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="justifyfull" title="自适应 (Ctrl/Cmd+J)"><i class="fa fa-align-justify"></i></a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" title="超链接"><i class="fa fa-link"></i></a>
                        <div class="dropdown-menu input-append">
                            <input placeholder="URL" type="text" data-edit="createLink"/>
                            <button class="btn btn-sm" type="button">添加链接</button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default" data-edit="unlink" title="删除链接"><i class="fa fa-unlink"></i></a>
                        <span class="btn btn-sm btn-default" title="Insert picture (or just drag & drop)" id="pictureBtn"> <i class="fa fa-picture-o"></i>
						<input class="imgUpload" type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage"/>
					</span>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-sm btn-default" data-edit="undo" title="撤销 (Ctrl/Cmd+Z)"><i class="fa fa-undo"></i></a>
                        <a class="btn btn-sm btn-default" data-edit="redo" title="重做 (Ctrl/Cmd+Y)"><i class="fa fa-repeat"></i></a>
                    </div>
                </div>
                <div id="product-body" class="lead wysiwyg-editor" data-placeholder=""></div>
                <div id="editorPreview"></div>
                <input id="id_body" name="body" type="hidden" value="{{ product.body }}">
            </div>
            <div id="product-detail-recommand" class="col-xs-24">
                <h3>为您推荐</h3>
                <hr/>
                {{ form.related }}
            </div>
        </form>
    </div>

    {% addtoblock "js" %}
        <script src="{% static 'js/product_update.js' %}"></script>
        <script src="{% static 'js/libs/jquery-ui.js' %}"></script>
        <script src="{% static 'js/libs/jquery.tagsinput.min.js' %}"></script>
        <script src="{% static 'sortedm2m/widget.js' %}"></script>
        <script src="{% static 'js/libs/underscore.js' %}"></script>
        <script src="{% static 'js/libs/jquery.hotkeys.js' %}"></script>
        <script src="{% static 'js/libs/google-code-prettify/prettify.js' %}"></script>
        <script src="{% static 'js/libs/bootstrap-wysiwyg.js' %}"></script>
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/items.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/product_update.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/libs/jquery-ui.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/libs/jquery.tagsinput.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'sortedm2m/widget.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/libs/bootstrap-wysiwyg.css' %}"/>
    {% endaddtoblock %}

{% endblock %}