{% extends "base.html" %}

{% load i18n staticfiles cms_tags menu_tags sekizai_tags %}

{% block content %}
    <div class="container">
        <div class="item-top-placeholder tc-positon-relative tc-width-full">
            <div id="scroller-anchor"></div>
            <div class="item-top-fixed col-xs-24 tc-border-bottom-grey-1">
                <div class="col-xs-24 col-sm-12 item-sections">
                    <ul class="tc-float-left">
                        <li class="active">
                            <a href="#product-detail-overview">
                                <span>
                                    概览
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#product-detail-body">
                                <span>
                                    介绍
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#product-detail-recommand">
                                <span>
                                    推荐
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item-reviews col-xs-24 col-sm-12 tc-margin-top-2">
                    <ul class="tc-float-right">
                        <li class="">
                            <a class="btn btn-primary btn-sm" href="#">
                                <span class="icon fa fa-save" aria-hidden="true"></span>
                                <span>
                                    保存
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="btn btn-default btn-sm" href="#">
                                <span>
                                    保存并预览
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="btn btn-default btn-sm" href="#">
                                <span>
                                    发布
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="product-detail-overview" class="col-xs-24 col-sm-15 product-img-box">
            <!-- Large modal -->
            <div id="myModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h6 class="modal-title" id="myLargeModalLabel">选择图片或视频</h6>
                        </div>
                        <div class="modal-body">
                            <div class="image-selector tc-width-full tc-border-grey-1">
                                <div class="image-selector-left">
                                    <ul class="list-group">
                                        <a href="#" class="list-group-item"><span class="badge">18</span>全部</a>
                                        <a href="#" class="list-group-item"><span class="badge">16</span>全部图片</a>
                                        <a href="#" class="list-group-item"><span class="badge">2</span>全部视频</a>
                                        <a href="#" class="list-group-item"><span class="badge">3</span>未分组</a>
                                        <hr/>
                                        <a href="#" class="list-group-item"><span class="badge">5</span>自定义分组1</a>
                                        <a href="#" class="list-group-item"><span class="badge">0</span>自定义分组2</a>
                                        <a href="#" class="list-group-item"><span class="icon fa fa-plus"></span> 新增分组</a>
                                    </ul>
                                </div>
                                <div class="image-selector-right tc-border-left-grey-1">
                                    <div class="folder-options tc-width-full tc-border-bottom-grey-1">
                                        <span class="tc-display-inlineblock tc-margin-left-2">全部图片</span>
                                        <div class="btn-group tc-margin-top-1 tc-margin-bottom-1" role="group" aria-label="...">
                                          <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                               目录管理
                                              <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                              <li class="disabled"><a href="#">重命名</a></li>
                                              <li><a href="#">删除目录</a></li>
                                            </ul>
                                          </div>
                                          <div class="btn-group" role="group">
                                            <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              图片管理
                                              <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                              <li><a href="#">移动目录</a></li>
                                              <li><a href="#">删除图片</a></li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="folder-option-upload tc-float-right">
                                            <span>图片大小不超过5M</span>
                                            <a class="btn btn-primary btn-sm tc-margin-left-2 tc-margin-right-2" href="#">
                                                上传图片
                                            </a>
                                        </div>
                                    </div>
                                    <div class="image-list tc-width-full">
                                        <div class="image-item col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="image-thumbnail tc-border-grey-1">
                                                <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                                    <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                                         alt="" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="image-checkbox tc-border-grey-1">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">封面.png
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="image-actions tc-border-grey-1">
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-edit"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-exchange"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-remove"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image-item col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="image-thumbnail tc-border-grey-1">
                                                <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                                    <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                                         alt="" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="image-checkbox tc-border-grey-1">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">封面.png
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="image-actions tc-border-grey-1">
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-edit"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-exchange"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-remove"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image-item col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="image-thumbnail tc-border-grey-1">
                                                <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                                    <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                                         alt="" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="image-checkbox tc-border-grey-1">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">封面.png
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="image-actions tc-border-grey-1">
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-edit"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-exchange"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-remove"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image-item col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="image-thumbnail tc-border-grey-1">
                                                <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                                    <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                                         alt="" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="image-checkbox tc-border-grey-1">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">封面.png
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="image-actions tc-border-grey-1">
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-edit"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-exchange"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-remove"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image-item col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="image-thumbnail tc-border-grey-1">
                                                <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                                    <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                                         alt="" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="image-checkbox tc-border-grey-1">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">封面.png
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="image-actions tc-border-grey-1">
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-edit"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-exchange"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-remove"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image-item col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="image-thumbnail tc-border-grey-1">
                                                <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                                    <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                                         alt="" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="image-checkbox tc-border-grey-1">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">封面.png
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="image-actions tc-border-grey-1">
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-edit"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-exchange"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-remove"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image-item col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="image-thumbnail tc-border-grey-1">
                                                <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                                    <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                                         alt="" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="image-checkbox tc-border-grey-1">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">封面.png
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="image-actions tc-border-grey-1">
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-edit"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-exchange"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-remove"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="image-item col-xs-12 col-sm-8 col-md-6 col-lg-4">
                                            <div class="image-thumbnail tc-border-grey-1">
                                                <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                                    <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                                         alt="" class="img-responsive">
                                                </a>
                                            </div>
                                            <div class="image-checkbox tc-border-grey-1">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" value="">封面.png
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="image-actions tc-border-grey-1">
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-edit"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-exchange"></span>
                                                    </a>
                                                </div>
                                                <div class="col-xs-8">
                                                    <a href="#">
                                                        <span class="icon fa fa-remove"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="image-selected tc-width-full tc-border-grey-1 tc-margin-top-1 tc-positon-relative">
                                <div class="image-selected-title tc-border-right-grey-1 tc-background-grey">
                                    <span class="tc-display-block tc-margin-top-3 tc-margin-left-3">已选图片</span>
                                </div>
                                <div class="image-selected-strip-container">
                                    <div class="image-selected-strip">
                                        <ul id="sortable">
                                            <li class="ui-state-default">
                                                <div class="image-thumbnail tc-border-grey-1">
                                                    <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                                        <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                                             alt="" class="img-responsive">
                                                    </a>
                                                </div>
                                                <div class="selected-image-actions">
                                                    <div class="col-xs-18">
                                                        <span>封面.png</span>
                                                    </div>
                                                    <div class="class="col-xs-6">
                                                        <a href="#">
                                                            <span class="icon fa fa-remove"></span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="ui-state-default">Item 2</li>
                                            <li class="ui-state-default">Item 3</li>
                                            <li class="ui-state-default">Item 4</li>
                                            <li class="ui-state-default">Item 5</li>
                                            <li class="ui-state-default">Item 3</li>
                                            <li class="ui-state-default">Item 4</li>
                                            <li class="ui-state-default">Item 5</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div id="product-main-img" class="tc-margin-bottom-4 note">
                <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                     alt="" class="img-responsive">
            </div>
            <div id="product-slideshow-box" class="tc-positon-relative tc-width-full tc-margin-top-4 tc-margin-bottom-4">
                <div id="product-slideshow-left-arrow"
                     class="tc-display-block tc-position-left tc-position-absolute enabled"></div>
                <div id="product-slideshow-right-arrow"
                     class="tc-display-block tc-position-right tc-position-absolute enabled"></div>
                <div id="product-slideshow-wrapper" class="tc-block-center tc-overflow-hidden">
                    <div id="product-slideshow-container"
                         class="tc-position-relative tc-overflow-hidden tc-block-center">
                        <div id="product-slideshow-strip"
                             class="tc-height-full tc-position-top tc-position-absolute tc-overflow-hidden">
                            <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/"
                               class="slideshow-thumb tc-display-block tc-float-left tc-positon-relative tc-border-grey-1">
                                <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                     alt="" class="img-responsive">
                            </a>
                            <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/"
                               class="slideshow-thumb tc-display-block tc-float-left tc-positon-relative tc-border-grey-1">
                                <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                     alt="" class="img-responsive">
                            </a>
                            <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/"
                               class="slideshow-thumb tc-display-block tc-float-left tc-positon-relative tc-border-grey-1">
                                <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                     alt="" class="img-responsive">
                            </a>
                            <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/"
                               class="slideshow-thumb tc-display-block tc-float-left tc-positon-relative tc-border-grey-1">
                                <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                     alt="" class="img-responsive">
                            </a>
                            <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/"
                               class="slideshow-thumb tc-display-block tc-float-left tc-positon-relative tc-border-grey-1">
                                <img src="https://dzevsq2emy08i.cloudfront.net/paperclip/collection_item_uploaded_images/586/small/IMG_9056.jpg?1489093690"
                                     alt="" class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-24 col-sm-9">
            <div class="from-group tc-margin-bottom-3">
                <label class="field-title">标题：</label>
                <input class="form-control input-sm" id="input_product_name" maxlength="255" type="text" placeholder="">
            </div>
            <div class="from-group tc-margin-bottom-3">
                <label class="field-title">副标题：</label>
                <input class="form-control input-sm" id="input_product_name" maxlength="255" type="text" placeholder="">
            </div>
            <div class="from-group tc-margin-bottom-3">
                <label class="field-title">分类：</label>
                <select class="form-control">
                    <option selected>CNC雕刻机</option>
                    <option>雕刻机配件</option>
                    <option>雕刻材料</option>
                    <option>其它工具</option>
                </select>
            </div>
            <div class="from-group tc-margin-bottom-3">
                <label class="field-title">购买链接：</label>
                <input class="form-control input-sm" id="input_product_name" maxlength="255" type="text" placeholder="">
            </div>
            <div class="from-group tc-margin-bottom-3">
                <label class="field-title">规格与价格：</label>
                <div class="row">
                    <div class="col-xs-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="" checked readonly>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-5 spec-name">
                        <input class="input-sm" id="" maxlength="45" type="text" placeholder="" value="种类">
                    </div>
                    <div class="col-xs-17">
                        <input name="spec1" id="product-spec1" value="含主轴,不含主轴" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-1">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" value="">
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-5 spec-name">
                        <input class="input-sm" id="" maxlength="45" type="text" placeholder="" value="尺寸">
                    </div>
                    <div class="col-xs-17">
                        <input name="spec2" id="product-spec2" value="40x40,40x80,80x80,80x120" />
                    </div>
                </div>
            </div>
            <div class="from-group tc-margin-bottom-3">
                <table class="table table-condensed">
                    <thead>
                    <tr>
                        <th>种类</th>
                        <th>尺寸</th>
                        <th>价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>含主轴</td>
                        <td>40x40</td>
                        <td>
                            <input class="spec-price-input" type="text" name="" value="3999">
                        </td>
                    </tr>
                    <tr>
                        <td>含主轴</td>
                        <td>40x80</td>
                        <td>
                            <input class="spec-price-input" type="text" name="" value="4499">
                        </td>

                    </tr>
                    <tr>
                        <td>含主轴</td>
                        <td>80x80</td>
                        <td>
                            <input class="spec-price-input" type="text" name="" value="4999">
                        </td>

                    </tr>
                    <tr>
                        <td>含主轴</td>
                        <td>80x120</td>
                        <td>
                            <input class="spec-price-input" type="text" name="" value="5499">
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="product-detail-body" class="col-xs-24">
            <h3>商品介绍</h3>
            <hr/>
            <div class="product-body col-xs-24 col-md-15">
                <textarea class="form-control" rows="20"></textarea>
                <span id="helpBlock" class="help-block">详细描述商品信息。加粗：*文字内容*，链接：'Link':http://www.example.com</span>
            </div>
        </div>
        <div id="product-detail-recommand" class="col-xs-24">
            <h3>为您推荐</h3>
            <hr/>

        </div>
    </div>

    {% addtoblock "js" %}
        <script src="{% static 'js/product_edit.js' %}"></script>
        <script src="{% static 'js/libs/jquery-ui.js' %}"></script>
        <script src="{% static 'js/libs/jquery.tagsinput.min.js' %}"></script>
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/items.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/product_edit.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/libs/jquery-ui.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/libs/jquery.tagsinput.min.css' %}"/>
    {% endaddtoblock %}

{% endblock %}