{% extends "base.html" %}

{% load i18n staticfiles cms_tags menu_tags sekizai_tags %}

{% block content %}
    <div class="container">
        <div class="item-top-placeholder tc-positon-relative tc-width-full">
            <div id="scroller-anchor"></div>
            <div class="item-top-fixed col-xs-24 tc-border-bottom-grey-1">
                <div class="col-xs-24 col-sm-12 item-sections">
                    <ul class="tc-float-left">
                        <li class="active">
                            <a class="detail-anchor-nav" href="#product-detail-overview">
                                <span>
                                    概览
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="detail-anchor-nav" href="#product-detail-body">
                                <span>
                                    介绍
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="detail-anchor-nav" href="#product-detail-recommand">
                                <span>
                                    推荐
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="item-reviews col-xs-24 col-sm-12 tc-margin-top-2">
                    <ul class="tc-float-right">
                        <li class="">
                            <a class="btn btn-default btn-sm" href="#">
                                <span class="icon fa fa-heart" aria-hidden="true"></span>
                                <span>
                                    100
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="btn btn-default btn-sm" href="#">
                                <span class="icon fa fa-share-alt" aria-hidden="true"></span>
                                <span>
                                    分享
                                </span>
                            </a>
                        </li>
                        <li class="">
                            <a class="btn btn-primary btn-sm" href="/update_item/{{ product.id }}">
                                <span class="icon fa fa-edit" aria-hidden="true"></span>
                                <span>
                                    编辑
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="product-detail-overview" class="detail-anchor tc-width-full">
            <div class="col-xs-24 col-sm-15 product-img-box">
                <div id="product-main-img" class="tc-margin-bottom-4">
                    <img src="{{ product.thumbnail_url }}" alt class="img-responsive">
                </div>
                <div id="product-slideshow-box"
                     class="tc-positon-relative tc-width-full tc-margin-top-4 tc-margin-bottom-4">
                    <div id="product-slideshow-left-arrow"
                         class="tc-display-block tc-position-left tc-position-absolute enabled"></div>
                    <div id="product-slideshow-right-arrow"
                         class="tc-display-block tc-position-right tc-position-absolute enabled"></div>
                    <div id="product-slideshow-wrapper" class="tc-block-center tc-overflow-hidden">
                        <div id="product-slideshow-container"
                             class="tc-position-relative tc-overflow-hidden tc-block-center">
                            <div id="product-slideshow-strip"
                                 class="tc-height-full tc-position-top tc-position-absolute">
                                {% for image in product.images.all %}
                                    <a class="slideshow-thumb tc-display-inlineblock tc-positon-relative tc-border-grey-1"
                                        image-url="{{ image.thumbnail_url }}" is-video="{{ image.is_video }}" video-html="{{ image.video_html }}">
                                        <img src="{{ image.thumbnail_url }}" alt class="img-responsive"/>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-24 col-sm-9">
                <div id="product-name">
                    <h3>{{ product.name }}</h3>
                </div>
                <div id="product-subtitle">
                    <h5>{{ product.subtitle }}</h5>
                </div>
                <div id="product-price" spec-price="{{ product.spec_price }}">
                    <span class="product-price-price">¥ {{ product.low_price }}</span>
                    <span class="product-price-tiger">或 同等🐯豆  当前: </span>
                    <span class="my-tiger-beans">100</span>
                    <a href="/" class="product-price-explain">
                        <span class="icon fa fa-question-circle"></span>
                    </a>
                </div>
                <hr/>
                <div id="spec1">
                    <h6>{{ product.spec1_name }}</h6>
                    <div id="spec1-options">
                        {% for option in product.split_spec1_options %}
                            {% if forloop.counter != 1 %}
                                <span class="spec-option">{{ option }}</span>
                            {% else %}
                                <span class="spec-option selected">{{ option }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="spec2">
                    <h6>{{ product.spec2_name }}</h6>
                    <div id="spec2-options">
                        {% for option in product.split_spec2_options %}
                            {% if forloop.counter != 1 %}
                                <span class="spec-option">{{ option }}</span>
                            {% else %}
                                <span class="spec-option selected">{{ option }}</span>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div id="product-buy">
                    <a href="{{ product.purchase_url }}" class="btn btn-primary btn-md" role="button">
                        前往商城购买
                    </a>
                </div>
            </div>
        </div>
        <div id="product-detail-body" class="detail-anchor col-xs-24">
            <h3>商品介绍</h3>
            <hr/>
            <div class="product-body col-xs-24 col-md-15">
                {{ product.body | safe }}
            </div>
        </div>
        <div id="product-detail-recommand" class="detail-anchor col-xs-24 tc-margin-bottom-4">
            <h3>为您推荐</h3>
            <hr/>
            {% for related_product in product.related.all|slice:":4" %}
                <div class="item-box col-xs-12 col-md-6">
                    <div class="item-img">
                        <a href="/items/{{ related_product.id }}">
                            <img src="{{ related_product.thumbnail_url }}" alt class="img-responsive">
                        </a>
                        <div class="item-tags">
                            <span class="item-tag-price">¥ {{ related_product.low_price }} 起</span>
                            {% if related_product.is_featured %}
                                <span class="item-tag-featured">推荐商品</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="item-info">
                        <div class="item-name">
                            <a href="/wiki/tigercncruan-jian-an-zhuang-yu-shi-yong-shi-pin/">
                                {{ related_product.name }}
                            </a>
                        </div>
                        <div class="item-subtitle">
                            <span>{{ related_product.subtitle }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% addtoblock "js" %}
        <script src="{% static 'js/product_detail.js' %}"></script>
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static 'css/items.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/product_detail.css' %}"/>
    {% endaddtoblock %}

{% endblock %}