{% extends "base.html" %}

{% load i18n staticfiles cms_tags menu_tags sekizai_tags %}

{% block content %}
<div class="container">
    <div class="col-xs-24 col-sm-6 aldryn-newsblog aldryn-newsblog-sidebar">
        <div id="scroller-anchor"></div>
        <div id="item-category" class="aldryn aldryn-newsblog aldryn-newsblog-categories">
            <ul id="product-category-nav" class="list-unstyled">
                <script type="text/template" id="product-category-nav-template">
                    <a href="#category-<%= id %>"><%= name %></a>
                </script>
            </ul>
        </div>
    </div>
    <div id="product-categorys" class="col-xs-24 col-sm-18">
        <script type="text/template" id="product-category-template">
            <h3 class="category-name"><%= name %></h3>
            <hr/>
            <div class="category-items tc-width-full">
            </div>
            <div class="load-more">
            </div>
        </script>
        <script type="text/template" id="product-template">
            <div class="item-img">
                <a href="/products/<%= id %>/">
                    <img src="<%= thumbnail_url %>" alt="" class="img-responsive">
                </a>
                <div class="item-tags">
                    <span class="item-tag-price">¥ <%= low_price %> 起</span>
                    <span class="item-tag-featured" is_featured="<%= is_featured %>">推荐商品</span>
                </div>
            </div>
            <div class="item-info">
                <div class="item-name">
                    <a href="/products/<%= id %>/">
                        <%= name %>
                    </a>
                </div>
                <div class="item-subtitle">
                    <span><%= subtitle %></span>
                </div>
            </div>
        </script>
    </div>
</div>

{% addtoblock "js" %}
    <script src="{% static 'js/libs/underscore.js' %}"></script>
    <script src="{% static 'js/libs/backbone.js' %}"></script>
    <script src="{% static 'js/store.js' %}"></script>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static 'css/items.css' %}" />
{% endaddtoblock %}

{% endblock %}